<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Agenda de Contactos{% endblock %}</title>

    <!-- Tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>

    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col">

    <!-- Header general -->
    <header class="bg-blue-700 text-white p-4 shadow">
        <div class="container mx-auto">
            <a href="{% url 'lista_contactos' %}" class="text-2xl font-semibold hover:underline">
                Mi Agenda
            </a>
        </div>
    </header>

    <!-- Contenido principal -->
    <main class="flex-1 container mx-auto p-6">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer general-->
    <footer class="bg-blue-700 text-white p-4 text-center">
        &copy; 2025 Agenda App. Todos los derechos reservados.
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
